/.cache
/build
.env
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.husky
node_modules/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
yarn.lock
#pnpm-lock.yaml
.eslintcache
package-lock.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
coverage
